/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* palette:
 * darkest green: 1d3126
 * bright green: 446c3a
 * light green: 72887b
 * brightest greeen: 89a09a
 * almost white: e1e2dc
 */
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #1d3126;
    color: white;
    font-family: Hack, FiraCode, Noto Sans, sans-serif, AnonymicePowerline Nerd Font;
    font-size: 12px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#idle_inhibitor,
#backlight,
#custom-vpn,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */


#workspaces button {
    /*border-top: 2px solid transparent;*/
    /* To compensate for the top border and still have vertical centering */
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: #1d3126;
    background: #e1e2dc;
}

#workspaces button.focused {
    font-weight: bold;
    border-color: #4c7899;
    color: #e1e2dc;
    background-color: #1d3126;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#custom-arrow10 {
    font-size: 17px;
	color: #e1e2dc;
	background: transparent;
}

#window {
    font-weight: bold;
    padding-right: 5px;
}

#custom-arrow1 {
    font-size: 17px;
	color: #e1e2dc;
	background: transparent
}

#idle_inhibitor {
    background: #e1e2dc;
    color: #1d3126;
}

#custom-arrow2 {
    font-size: 17px;
	color: #89a09a;
    background: #e1e2dc
}

#pulseaudio {
    background: #89a09a;
    color: #1d3126;
}

#pulseaudio.muted {
    /* No styles */
}

#custom-arrow3 {
    font-size: 17px;
	color: #446c3a;
	background: #89a09a;
}

#network {
    background-color: #446c3a;
    color: #e1e2dc;
}

#network.disconnected {
    color: #f58712;
}

#custom-vpn {
    background-color: #446c3a;
    color: #e1e2dc;
}

#custom-vpn.down {
    background-color: #f53c3c;
}

#custom-arrow4 {
    font-size: 17px;
	color: #1d3126;
	background: #446c3a
}

#cpu {
    background: #1d3126;
    color: #e1e2dc;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}


#custom-arrow5 {
    font-size: 17px;
	color: #e1e2dc;
	background: #1d3126;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #e1e2dc;
    color: #303c28;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#custom-arrow6 {
    font-size: 17px;
	color: #89a09a;
	background: #e1e2dc
}

#temperature {
    background: #89a09a;
    color: #1d3126;
}

#temperature.critical {
    color: red;
}

#custom-arrow7 {
    font-size: 17px;
	color: #446c3a;
	background: #89a09a;
}

#backlight {
    background: #446c3a;
    color: #e1e2dc;
}

#backlight.dull {
    font-weight: bold;
}

#custom-arrow8 {
    font-size: 17px;
	color: #1d3126;
	background: #446c3a
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #e1e2dc;
    background-color: #1d3126;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}
#custom-arrow9 {
    font-size: 17px;
	color: #e1e2dc;
	background: #1d3126;
}
#clock {
    background: #e1e2dc;
    color: #1d3126;
    font-weight: bold;
}

#tray {
    /* No styles */
}

/* unused */
#custom-arrow11 {
    font-size: 17px;
	color: #949494;
	background: #4e4e4e;
}

#mode {
    background: #70a683;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#custom-media {
    padding-left: 5px;
    color: rgb(102, 220, 105);
}



/*
* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

window#waybar.firefox {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

// https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #70a683;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #70a683;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#clock {
    background-color: #74727D;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#backlight {
    background: #74c4ac;
    color: #434c5e;
}

#backlight.dull {
    font-weight: bold;
}

#network.ethernet {
    background-color: #74c4ac;
    color: #3b4252;
}

#network.disconnected {
    background-color: #f53c3c;
}

#network {
    background-color: #74c4ac;
    color: #3b4252;
}

#pulseaudio {
    background-color: #dbda7b;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
*/

